<div class="paxred border-bottom pt-4">
  <div class="row justify-content-start">
    <h2>Charts</h2>
  </div>
</div>

<div class="row pt-3">
  <div class="col-md-12">
    <div class="row justify-content-start pb-2">
      <h3 class="paxred">Completion Speed Over Time</h3>
    </div>
      <div class="card">
        <div class="card-body">
          <canvas id="chLine" height="100"></canvas>
        </div>
      </div>
    </div>
</div>

<script>
    /* chart.js chart examples */

    // chart colors
    var colors = ['#007bff', '#28a745', '#333333', '#c3e6cb', '#dc3545', '#6c757d'];

    /* large line chart */
    var chLine = document.getElementById("chLine");
    var chartData = {
        labels: ["S", "M", "T", "W", "T", "F", "S"],
        datasets: [{
            data: [<%= @data %>],
            backgroundColor: 'transparent',
            borderColor: colors[0],
            borderWidth: 4,
            pointBackgroundColor: colors[0]
        }]
    };

    if (chLine) {
        new Chart(chLine, {
            type: 'scatter',
            data: chartData,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        });
    }
</script>