<!DOCTYPE html>
<html>
<head>
  <title>PAXArcadiaTracker</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <svg width="100%" height="100%">
        <defs>
          <pattern id="bigx" x="0" y="0" width="90" height="90" patternUnits="userSpaceOnUse">
            <path fill="#DD3D42" d="M 50 42.058594 L 32.675781 24.957031 L 49.761719 7.703125 L 42.058594 0 L 24.949219 17.328125 L 7.636719 0.238281 L 0 7.878906 L 17.335938 25.042969 L 0.238281 42.363281 L 7.878906 50 L 25.039062 32.671875 L 42.296875 49.761719 Z M 50 42.058594"></path>
          </pattern>
        </defs>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#bigx)"/>
      </svg>
      <div class="sidebar-sticky">
        <h1 class="logo text-white text-center">XP Arcadia</h1>
        <ul class="nav flex-column pt-1">
          <li class="nav-item
            <% if controller.controller_name == "statistics" && controller.action_name == "home" %>active
            <% end %>">
            <a class="nav-link
              <% if controller.controller_name == "statistics" && controller.action_name == "home" %>active
              <% end %>" href="
              <% if controller.controller_name == "statistics" && controller.action_name == "home" %>#
              <% else %>
              /home
              <% end %>">
              <span data-feather="home"></span>
              Leaderboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item
            <% if controller.controller_name == "statistics" && controller.action_name == "charts" %>active
            <% end %>">
            <a class="nav-link
              <% if controller.controller_name == "statistics" && controller.action_name == "charts" %>active
              <% end %>" href="
              <% if controller.controller_name == "statistics" && controller.action_name == "charts" %>#
              <% else %>
              /charts
              <% end %>">
              <span data-feather="charts"></span>
              Charts <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <svg width="100%" height="100%">
        <defs>
          <pattern id="smallx" x="0" y="0" width="50" height="50" patternUnits="userSpaceOnUse">
            <path fill="white" d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
          </pattern>
        </defs>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#smallx)"/>
      </svg>
      <%= yield %>
    </main>
  </div>
</div>
</body>
</html>
